<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3" style="color:#111;">Online Collectors Website</h1>
                    <p class="lead" style="color:#111;">If your a collector of just about anything and want to keep track of your collectables online then this is the solution for you !</p>
                    <p>
                    <a class="btn btn-success" href="/signup" role="button">Sign up</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="/about" role="button">Tell me more</a>
                    </p>
                    <p style="color:#111;">Already signed up ? Please browse to your site URL</p>
                </div>
            </div>
        </div>
    </div>
</div>

