<div class="list-group">
    <%= link_to I18n.t('admin.menu.dashboard'), '/admin', class: 'list-group-item list-group-item-action' %>
    <%= link_to I18n.t('admin.menu.items'), '/admin/items', class: 'list-group-item list-group-item-action' %>
    <%= link_to I18n.t('admin.menu.fields'), '/admin/fields', class: 'list-group-item list-group-item-action' %>
    <%= link_to I18n.t('admin.menu.profile'), '/admin/profile', class: 'list-group-item list-group-item-action' %>
</div>
