<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="jumbotron text-xs-left">
                <h4 class="text-xs-center">What is the Online Collector website ?</h4>
                <p>
                    <ul>
                        <li>The Online Collector website is a framework for tracking and storing images of your collectables.</li>
                        <li>Anything that is considered collectable can be tracked and catalogued using the Online Collector website. Examples are video games, stamps, books, spoons, mugs, model trains, model cars, radio controlled cars, dadges, vinyl records, compact discs, HiFi equipment, butterflys, playing cards, board games and many more.</li>
                        <li>Using the Online Collector is easy with minimal prescribed fields and easily added custom fields.</li>
                    </ul>
                </p>
                <p class="text-xs-center"><a class="btn btn-primary" href="/signup" role="button">Return</a></p>
            </div>
        </div>
    </div>
</div>
