<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="jumbotron">
                <h4>Terms and conditions of use of this service are outlined below:</h4><br/>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet egestas lectus id sodales. Proin sem lectus, malesuada nec congue ac, lobortis at augue. Etiam porta nulla quis faucibus finibus. Aenean sodales metus quis sapien interdum eleifend eu vel ligula. Aliquam feugiat lacus nec facilisis ornare. Morbi cursus malesuada nibh ac condimentum. Quisque in convallis lorem, sit amet tristique diam.</p>
<p>
Pellentesque quis nisl sed dui hendrerit dignissim. Nulla nulla ante, sollicitudin condimentum convallis eget, dignissim vitae turpis. Integer vel dictum justo. Nunc non diam feugiat, feugiat leo eu, lacinia felis. Ut scelerisque, turpis sit amet scelerisque auctor, dolor nibh aliquet urna, a consectetur ipsum dui et arcu. Suspendisse non dignissim dui. Proin rutrum, mi et tincidunt semper, odio ligula blandit mi, a pellentesque felis dolor consectetur nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut libero leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas libero lectus, eget hendrerit tortor fermentum nec. Mauris accumsan, sem a eleifend malesuada, metus metus posuere leo, at eleifend diam mi sed augue. Donec consectetur a ante congue laoreet.</p>
<p>
Fusce mollis tellus sed fringilla tincidunt. Duis quis orci orci. Etiam quis orci molestie, malesuada nunc sit amet, rhoncus lacus. Mauris a eros justo. Cras diam nisl, consequat in massa a, ornare interdum nunc. Vestibulum ac facilisis urna. Sed ultricies diam a lectus bibendum, ac egestas est suscipit. Suspendisse magna risus, ullamcorper vel viverra id, suscipit sit amet risus. Suspendisse potenti. Nam eget ultrices nunc, non blandit leo. Proin lobortis at mi sit amet suscipit. In id tempor velit, vel pretium ex. Quisque dignissim non lectus vitae sollicitudin. Ut vel neque et lorem eleifend sodales. Maecenas at magna nec justo finibus lobortis ac sit amet ex.</p>
<p>
Nunc rutrum varius erat. Nulla facilisi. Sed massa dolor, consequat vel placerat in, porttitor non justo. Vestibulum at lorem malesuada, efficitur elit non, porta leo. Aliquam vitae elit at nulla pulvinar finibus gravida ac justo. Suspendisse vitae pretium lectus. Aliquam ex ex, pharetra sit amet pretium non, accumsan et massa. Ut in mattis erat. Curabitur aliquam tortor vel massa faucibus sagittis.</p>
<p><a class="btn btn-primary" href="/signup" role="button">Return</a></p>
            </div>
        </div>
    </div>
</div>
