<%= form_tag({:controller => :site, :action => :signup_process}, :id => 'signup_form') do |f| %>

<%= render 'signup_details', locals: {site: site, user: user} %>

<button type="submit"><%= I18n.t('forms.signup.button') %></button>
<% end %>
